body { 
  font-weight:200;
  font-family: "Helvetica Neue", "Arimo";
  }
 
h1,h2,h3,h4,h5,h6 {
		font-weight: @headerWeight;
		color:@mediumGray;
}

h3 {
  margin-top: 40px;
}

h2 {
  font-size: 3.3em;
	  color:@black;
}

h6 {
  margin-top:30px;
}

a {
  color:@orange;
}

a:hover {
  color:@orange;
  
}

.btn.btn-primary {
	background: @white;
	border: 1px solid @mediumGray;
	color: @mediumGray;
	font-weight:200;
	padding:8px 60px;
}

#content ul {
	font-weight:bold;
	.list-unstyled();	
	line-height:2em;
}

.form-control {
		.border-right-radius(0px);
		  .border-left-radius(0px);
}

p {
		line-height: @paragraphLineHeight;
		color: @mediumGray;
}

#content .container {
		padding-bottom: @containerPadding;
		padding-top: @containerPadding;
}

#consulting {
	.regular-block();
}

#services {
	.regular-block();
}
#practiceArea {
	.image-accent-block( '../img/diver.jpg');
}

#contact {
	.neutral-block();
	.submit .btn {
			float: right;
	}
}
