h2 {
  font-family: "Crete Round", Georgia, sans;
}

h3,h4 {
  font-family: "Roboto Condensed", Helvetica Neue, sans;
  font-weight: bold;
  font-size:1.2em;
  //line-height:0.5em;
  margin-top:2px;
  margin-bottom:2px;
}

p {
  font-family: "Open Sans", Helvetica Neue, sans;
}

section {
  padding:0px 20px;

  h2 {
    margin-top:40px;
  }
  &>div {
    padding: 10px 20px;
  }
}
