doctype
html(lang="en")
  head
    // Basic page needs
    meta(charset="utf-8")
    title I am an engineer.
    meta(name="description", content="")
    meta(name="author", content="")
    // Mobile specific Metas
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Font
    link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Open+Sans")

    // CSS
    link(rel="stylesheet",type="text/css",href="css/styles.css")

    // Favicon
    link(,type="image/png", rel="icon",href="img/favicon.png")


    // JS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")

  body
    h1 It works!
