doctype
html(lang="en")
  head
    // Basic page needs
    meta(charset="utf-8")
    title I am an engineer.
    meta(name="description", content="")
    meta(name="author", content="")
    // Mobile specific Metas
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Font
    link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Open+Sans")

    // CSS
    link(rel="stylesheet",type="text/css",href="css/styles.css")

    // Favicon
    link(,type="image/png", rel="icon",href="img/favicon.png")


    // JS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js")

  body
    h1 I AM AN ENGINEER.
    .contact.
      JULIEN VERFAILLIE<br>
      #[i Fluent in French, English and Spanish]<br>
      (305) 898 9564<br>
      16363 SW 47th Ct<br>
      Miramar, FL 33027 <br>
      julien.verfaillie@gmail.com <br>
      #[a(href="www.iamanengineer.net") www.iamanengineer.net]<br>
      #[a(href="www.iamnotanengineer.net") www.iam#[strong not]anengineer.net]

    #employments
      h2 Employment History
      .employment
        h3 Since Sep. 2013
        h4 Nomads - Software Engineer
        p Web Application development for a survey applicationusing Yii, PHP, HTML5, CSS, Bootstrap, jQuery. 
        p.
          Development, and maintenance of NFL Now, a personalized NFL video Android app. Extensive use of NexPlayer, IMA SDK. <br>
          Release manager via Git, GitHub and HockeyApp. <br>
          Lead Developer for Chromecast implementation inside the app.

      .employment
        h3 Jan. 2012 to Aug. 2013
        h4 Q Interactive- PHP Developer
        p Web Application development using Wordpress, Symfony, PHP, HTML5, jQuery.

      .employment
        h3 Mar. 2011 to Nov. 2011
        h4 ConstantClick - Lead Engineer
        p.
          Web Application development using PHP, CakePHP, HTML5, jQuery.<br>
          EmailMarketing software maintenance. Server administration (CentOS).

      .employment
        h3 Feb. 2010 to Aug. 2010
        h4 GE Healthcare - Software Engineer
        p.
          Advanced functionality development and validation for Tomographic Mammography image review.<br>
          C++ development under Linux environment.<br>
          Use of Qt library, VTK 3D Modeling.

      .employment
        h3 Jul./Aug. 2009
        h4 Caisse d'épargne de Picardie
        p.
          Redesign of the Resource Department of the Caisse d'épargne de Picardie (Bank).<br>
          Interface between Resource Department and IT Department, in order to adapt the technologies used to their needs.

      .employment
        h3 Sep. 2008 to Feb. 2009
        h4 Opencube Technologies - Software Engineer
        p.
          C++ development of an encryption software for digital cinema under Linux environment.<br>
          Use of Qt libraries, and OpenSSL API.

      .employment
        h3 Jul./Aug. 2007
        h4 Computer Sciences Research Laboratory of IUT Amiens - Software Developer/Researcher
        p. 
          C++ implementation of algorithms for shape recognition in an omnidirectional stereoscopic video (using Generalized Hough Transform).<br>
          Use of OpenCV library.

      .employment
        h3 Dec. 2004 & Jun. 2006
        h4 Cabinet KPMG - Accoutant
        p Integration in a public accountant team.

    #educations
      h2 Education
      .education
        h3 2007 - 2010
        h4 Université de Technologie de Compiègne
        p.
          Masters Degree in Software Engineering <br>
          Exchange semester in Twente Universiteit, Netherlands

      .education
        h3 2006 - 2007
        h4 IUT Informatique d'Amiens
        p DUT - IT Technology University Degree

      .education
        h3 2004 - 2006
        h4 Lycée Saint-Rémi Amiens
        p BTS - Accountancy Degree

      .education
        h3 2002 - 2004
        h4 Université de Picardie Jules Verne
        p School of Medecine

      .education
        h3 2002
        h4 Lycée la Providence Amiens
        p Baccalauréat - Majored in Sciences

    #knowledges
      h2 Technical Knowledge
      .knowledge
        h3 Software development
        p Languages: Java, Android Development, PHP, Mysql, HTML, CSS3, Javascript, Ajax, C / C++, Python, Shell Scripting.
        p Libraries/Frameworks: Android SDK, Gradle, IMA SDK, Chromecast SDK, NexPlayer, SDL, Qt, OpenSSL, OpenCV, CakePHP, jQuery. 
        p Version Control Systems: Git, SVN, ClearCase, CVS.

      .knowledge
        h3 OS and softwares
        p OS: Linux (daily use), OSX, Windows.
        p Code Editor: Vim, Android Studio
        p Design Tools: Photoshop, Illustrator, Indesign






